################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CL.API/v14
/log
/node_modules
/WebEssentials2015-Settings.json
/nodePub.pubxml
/nodePub.pubxml.user
